@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-dark: #191D21;
    --text-gold: #F9D8AD;
    --text-gray: #7A7A7A;
    --text-gray2: #31373F;
    --text-light: #EDEEF0;
}

@layer base {
  @font-face {
    font-family: 'nephilm';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Nephilm.otf") format('otf');
  }
}