@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-dark: #191D21;
    --text-gold: #d3a249;
    --text-gold-second: #d9c4a9;
    --text-gray: #393939;
    --text-gray2: #636363;
    --text-light: #EDEEF0;
}

@layer base {
  @font-face {
    font-family: 'nephilm';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Nephilm.otf") format('otf');
  }

  @font-face {
    font-family: 'groce';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Groce.otf") format('otf');
  }

  @font-face {
    font-family: 'winslowBook';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/WinslowBook-Regular.ttf") format('truetype');
  }
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url("./assets/images/backgrounds/blob-scene-haikei.svg");
}

.layer2 {
    background-image: url("./assets/images/backgrounds/blob-haikei.svg");
}

.layer3 {
    background-image: url("./assets/images/backgrounds/rooms-background.svg");
}